Source: mundus
Section: contrib/admin
Priority: extra
Maintainer: sebikul <sebikul@gmail.com>
Build-Depends: debhelper (>= 5.0.0), gambas3-dev (>= 3.6.0),
  gambas3-gb-image (>= 3.6.0),
  gambas3-gb-qt4 (>= 3.6.0),
  gambas3-gb-form (>= 3.6.0),
  gambas3-gb-desktop (>= 3.6.0),
  gambas3-gb-desktop-x11 (>= 3.6.0),
  gambas3-gb-settings (>= 3.6.0)
Standards-Version: 3.9.2
Homepage: http://sebikul.github.io/mundus/


Package: mundus
Architecture: all
Depends: gambas3-runtime (>= 3.6.0),
  gambas3-gb-image (>= 3.6.0),
  gambas3-gb-qt4 (>= 3.6.0),
  gambas3-gb-form (>= 3.6.0),
  gambas3-gb-desktop (>= 3.6.0),
  gambas3-gb-desktop-x11 (>= 3.6.0),
  gambas3-gb-settings (>= 3.6.0)
Description: Clean your home folder from old configuration files
 Clean and backup your /home folder from old
 configuration files created by now uninstalled software.
